.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  margin-right: 50px;
}

.logo h1 {
  cursor: pointer;
  color: #4d2900;
}

.nav {
  display: flex;
  gap: 40px;
}

.search {
  position: relative;
}
.search input {
  width: 200px;
  height: 25px;
  padding-left: 18px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
}
.search span {
  position: absolute;
  top: 3px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.icons div img {
  cursor: pointer;
}

.optionList {
  background: #fff;
  width: 150px;
  border-radius: 3px;
  padding: 3px 0;
  position: absolute;
  right: 200px;
  margin-top: 5px;
}
.optionList li {
  list-style: none;
  border: 0.5px solid black;
  border-radius: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
