* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FFFAF5;
  ;
}

footer {
  background: #391F00;
}

/* button {
  padding: 8px 12px;
  border: none;
  background: #141414;
  color: #fff;
  cursor: pointer;
} */

a {
  color: #fff;
  text-decoration: none;
}

i {
    color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #ffffff00;
}
